html, body {
    margin: 0;
    height: 100%;
}

.btn-toggle-nav a:hover {
  background-color: #6495ED;
  font-size: 20px;
}

.split-block {
    display:flex
}
.text-des{
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    color: black;
}

.box {
    background-color: white;
    color: black;
    border-style: solid;
    height: auto;
}

.text {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: black;
}

.fix-space {
    margin-left: 100px;
}

.but {
    width: 100%;
}

.display{
    display: flex;
}

.display-pagi{
    display: flex;
    justify-content: center;
}


.display-search {
    display: flex;
    justify-content: space-evenly;
}

.text-child-page {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: black;
}

.config-posi{
    margin-top: 2.5%;
    margin-left: 5%;
}

.display-child-page {
    width: 100%;
    display:flex;
    justify-content: flex-start;
}

.display-but{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}

.text-error {
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    color: red;
}

/* ============================================ */
/* css: slider button status */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: green;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px green;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  /* ============================================= */
  /* css reset admin page */

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
